# SQL Basics Notebook

Este notebook contiene ejemplos básicos de SQL.

In [1]:
# Ejemplo básico
import sqlite3

# Conectar a SQLite
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Crear tabla de ejemplo
cursor.execute("""
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    department TEXT,
    salary REAL
)
""")

# Insertar datos
employees = [
    (1, 'Juan Pérez', 'IT', 50000),
    (2, 'María García', 'HR', 45000),
    (3, 'Carlos López', 'IT', 55000),
    (4, 'Ana Martínez', 'Sales', 48000)
]

cursor.executemany("INSERT INTO employees VALUES (?, ?, ?, ?)", employees)
conn.commit()

print("✅ Base de datos creada con datos de ejemplo")

✅ Base de datos creada con datos de ejemplo